/* Header-css */
/* Header-top-area */
.header-top-area {
	background-color: #f9f9f9;
	padding: 10px 0px;
}

.header-left-icon {
	margin-top: 39px;
	text-align: right;
}

.header-left-icon a {
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	margin: 0 8px;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 30px;
}

.header-left-icon a:last-child {
	margin-right: 0
}


.headers-left {
	padding-top: 10px;
}

.headers-left-text {
	float: left;
	margin-right: 20px;
}

.headers-left-text:last-child {
	margin-right: 0;
}

.headers-left-icon {
	float: left;
	margin-right: 10px;
}

.headers-left-icon i {
	color: #ff6d4c;
	font-size: 16px;
}

.headers-left-text>p {
	font-size: 14px;
	margin-bottom: 0;
	color: #563f4f;
}

.header-rights {
	float: right;
}

.header-rights i {
	font-size: 13px;
	margin-right: 3px;
	padding-left: 3px;
}

.header-rights a {
	background: #ff6d4c;
	color: #fff;
	font-size: 14px;
	padding: 5px 5px;
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	font-weight: 600;
	border: 2px solid #ff6d4c;
}

.header-rights a:hover {
	background-color: #9d71bf;
	color: #fff;
	border: 2px solid #9d71bf;
	transition: 0.5s ease-in-out;
}

/* Main Menu - Starts */
/* .logo {
	max-height: 80px;
} */

.logo-text {
	text-transform: uppercase;
	display: inline-block;
	line-height: 30px;
	font-size: 30px;
	vertical-align: middle;
	padding-left: 10px;
}

.logo img {
	width: 165px;
}

.logo-text span {
	display: block;
}

.dropdown:hover>.dropdown-menu {
	display: block;

}

.dropdown>.dropdown-toggle:active {
	pointer-events: none;
}

.navbar-nav li a {
	font-size: 15px;
	font-weight: 600;
}

.navbar-nav li>a {
	color: #fff;
	border-radius: 5px;
	margin-right: 15px;
}

.navbar-nav li:last-child>a {

	margin-right: 0px;
}

.navbar-nav li>a.active,
.navbar-nav li>a:hover {
	color: #c4a2fc;
	background-color: transparent;
	text-align: center;
	border-radius: 5px;
}

.navbar {
	padding: 0 0;
	float: right;
	padding-top: 25px;
}

.dropdown-menu {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
	border-width: 0;
	border-radius: 0;
	padding: 0;
	margin-top: 25px;

}

.dropdown {
	padding-bottom: 20px;
}

.dropdown-menu .dropdown-item {
	padding: 10px 16px 8px;
	border-radius: 0;
	border-bottom-width: 1px;
	font-weight: 400;
	font-size: 14px;
	min-width: 200px;
	text-transform: unset;
	font-weight: 600;
	border-bottom: 1px solid #eee;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #ff6d4c;
	text-decoration: none;
	background-color: #fff;
}

.dropdown-menu .dropdown-item:last-child {
	border-bottom-width: 0;
}

.dropdown:hover>.dropdown-menu {
	-webkit-animation: move-up .3s ease 1 forwards;
	-moz-animation: move-up .3s ease 1 forwards;
	-ms-animation: move-up .3s ease 1 forwards;
	-o-animation: move-up .3s ease 1 forwards;
	animation: move-up .3s ease 1 forwards;
}

/* select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
} */
@-webkit-keyframes move-up {
	0% {
			margin-top: 25px;
	}

	100% {
			margin-top: -5px;
	}
}

@-moz-keyframes move-up {
	0% {
			margin-top: 25px;
	}

	100% {
			margin-top: -5px;
	}
}

@-ms-keyframes move-up {
	0% {
			margin-top: 25px;
	}

	100% {
			margin-top: -5px;
	}
}

@-o-keyframes move-up {
	0% {
			margin-top: 25px;
	}

	100% {
			margin-top: -5px;
	}
}

@keyframes move-up {
	0% {
			margin-top: 25px;
	}

	100% {
			margin-top: -5px;
	}
}

.fixed-header-menu {
	z-index: 7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.fixed-header-menu .navbar-brand .logo {
	max-height: 60px;
}

.fixed-header-menu .navbar-brand .logo-text {
	font-size: 22px;
}

.main-header-menu {
	background-color: #563f4f;
	z-index: 999;
	padding: 8px 0;

}

.fixed-top {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);

}

#resMenuCloseIcon {
	display: none;
}

.navbar-brand {
	padding-top: 10px;
	padding-bottom: 8px;
}

/* .fixed-header-menu .navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
} */
.fixed-header-menu .navbar-nav li>a {
	padding: 5px 5px;
	color: #fff;
}

/* Main Menu - Ends */

/* .custom-navbar.sticky .back-effect{
opacity: 1;
} */



/* Footer Section - Starts */
.footer-column h3 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	margin: 20px 0 30px 0;
}

.footer-column p {
	font-size: 14px;
}

.footer-bottom-container {
	height: 50px;
}

.footer-bottom-container .desc {
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}

.footer-column a:hover {
	text-decoration: none;
}

.footer-social-menu li a {
	font-size: 18px;
}

.footer-social-menu li {
	margin-right: 15px;
}

.footer-about-links li i {
	padding-right: 6px;
}

.list-vertical-reset li i {
	padding-right: 10px;
}

.footer-column {
	padding: 30px 0;
}

.footer-about-links li,
.list-vertical-reset li {
	font-size: 14px;
	margin: 12px 0;
}

.footer-logo {
	margin: 10px 0 20px 0;
	display: inline-block;
}

.footer-news-img {
	max-width: 72px;
	width: 100%;
}

.footer-news-desc-container {
	padding-left: 10px;
}

.footer-news-img-container,
.footer-news-desc-container {
	display: table-cell;
	vertical-align: top;
}

.footer-news-desc-container h4 {
	font-size: 15px;
	font-weight: 600;
}

.footer-news-desc-container .footer-news-dates {
	font-size: 12px;
	font-weight: 600;
}

.footer-news-img-container {
	width: 72px;
}

.footer-news article {
	margin-bottom: 20px;
	padding: 15px;
	background-color: #f9fcff;
}

.widget {
	margin-bottom: 30px;
	border: 1px solid #fff;
	background: #f9fcff;
	overflow: hidden;
	padding: 30px 20px;
}

.widget .tagcloud a {
	padding: 5px 12px;
	background: #ff6d4c;
	color: #ffffff;
	display: inline-block;
	border-radius: 30px;
	margin: 5px 2px;
	font-weight: 500;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.widget-title {
	font-size: 20px;
	font-weight: 700;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

/*===============
21.  Footer
=================*/
.footer {
	background-color: #563f4f;
}

.footer--top {
	padding: 60px 0 30px;
	position: relative;
	z-index: 1;
}

.footer .form-control {
	border-radius: 7px;
	border: 0;
	color: #fff;
	font-size: 13px;
	transition: 0.3s;
}

.footer--top::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .1;
}

.footer--bottom {
	padding: 20px 0;
	text-align: center;
	position: relative;
	background-color: #c4a2fc;
}

.footer--bottom p {
	margin: 0;
	color: #fff;
}

.footer .cab-widget--title {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 800;
}

.has-icon i {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}

.has-icon {
	position: relative;
}

.footer .cab-aside--logo {
	justify-content: flex-start;
	background-color: transparent;
	text-align: left;
	padding: 0;
}

.footer .cab-aside--logo a {
	color: #fff;
}

.cab-widget {
	margin-bottom: 30px;
}

.cab-widget p {
	color: #fff;
}

.footer .widget-social-media a {
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #c4a2fc;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	margin-right: 10px;
}

.footer .widget-social-media a:hover {
	color: #303030;
}

.footer ul {
	column-count: 2;
}

.footer ul li a {
	display: block;
	font-weight: 600;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 0 15px;
}

.footer ul li a:hover {
	color: #c4a2fc;
}

/* Footer-end */