/*==========================  START TEAM ============================*/
.team-sec {
	padding: 0px 0px 100px 0px;
}

.team-image {
	position: relative;
	overflow: hidden;
}

.team-image::before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	background-color: rgb(196, 162, 252, 0.6);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 0;
}

.team-data:hover .team-image::before {
	opacity: 1;
}

.team-data .team-image img {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	max-width: 100%;
}

.team-data:hover .team-image img {
	transform: scale(1.1) rotate(5deg);
	-webkit-transform: scale(1.1) rotate(5deg);
	-moz-transform: scale(1.1) rotate(5deg);
}

.team-inner {
	background-color: #fff;
	padding: 20px 10px;
	position: absolute;
	bottom: -45px;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	z-index: 1;
}

.team-data:hover .team-inner {
	bottom: 0;
}

.team-data {
	border-radius: 0px;
	overflow: hidden;
	box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
}

.team-image .team-inner ul {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0;
	transition: all .5s;
	z-index: 1;
	margin: 0 0 15px 0
}

.team-info h5 {
	font-weight: 700;
}

.team-image .team-inner ul li {
	display: inline-block;
	margin: 0px 2px;
}

.team-image .team-inner ul li a {
	background-color: #c4a2fc;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	color: #ffffff;
	border-radius: 4px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.team-image .team-inner ul li a:hover {
	background-color: #ff6d4c;
	color: #fff;
}

.team-inner .team-info {
	text-align: center;
	position: relative;
	padding: 0;
}

.team-inner .team-info a {
	color: #ff6d4c;
}

.team-inner .team-info span {
	font-size: 14px;
	color: #fff;
	display: block;
}