/* Why-us-start */
.why-us {
	background-image: url(../images/about/bg-2.jpg);
	background-size: cover;
	background-position: center;
	padding: 100px 0px;
}

.why-us-area {
	width: 50%;
	padding: 50px 50px 34px 50px;
	border-radius: 5px;
	background-color: #563f4f;
	position: relative;
	z-index: 99;
}

.why-us-area::after {
	content: '';
	position: absolute;
	top: 30px;
	left: 20px;
	width: 100%;
	height: 50%;
	background-image: url(../images/dot-pattern.png);
	background-repeat: repeat;
	background-position: -4px 0;
	z-index: 1;
}

.why-us-area h2 {
	font-size: 35px;
	font-weight: 800;
	color: #fff;
	margin-bottom: 20px;
}

.why-us-area p {
	color: #fff;
}

.why-us-area .form-control {
	border-radius: 5px;
	background-color: #ffffff;
	border: 0;
	color: #fff;
	font-size: 14px;
	transition: 0.3s;
	height: 40px;
}

.why-us-area .form-control:focus {
	background-color: #563f4f;
	box-shadow: none;
	color: #fff;
	border: 2px solid #ffffff;
}

.btn-donate {
	background-color: #ff6d4c;
	margin-top: 20px;
	border: 2px solid #fff;
	color: white;
	width: 20%;
	padding: 0px;
	line-height: 30px;
}

.btn-donate:hover {
	color: #563f4f;
	text-decoration: none;
	background-color: #ffffff;
}

/* Why-choose-us-start */

.why-choose-area {
	background: #f9fcff;
	padding: 100px 0px 130px 0px;
}

.why-choose-area .why-choose-content .content span {
	font-weight: 700;
	position: relative;
	color: #ff6d4c;
}

.why-choose-area .why-choose-content .content span::before {
	position: absolute;
	content: '';
	right: -75px;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 60px;
	background-color: #ff6d4c;
}

.why-choose-area .why-choose-content .content .title {
	font-size: 56px;
	line-height: 57px;
	font-weight: 800;
	padding-top: 18px;
	padding-bottom: 20px;
}

.why-choose-area .why-choose-thumb {
	position: relative;
}

.why-choose-area .why-choose-thumb .play {
	height: 150px;
	width: 150px;
	background-color: #563f4f;
	position: absolute;
	right: 40px;
	border-radius: 5px;
	text-align: center;
	bottom: -50px;
	border-radius: 5px;
}

.why-choose-area .why-choose-thumb .play a {
	text-align: center;
}

.why-choose-area .why-choose-thumb .play a i {
	color: #ff6d4c;
	background: #f2f5f8;
	height: 75px;
	width: 75px;
	text-align: center;
	line-height: 75px;
	border-radius: 50%;
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 23px;
}

.why-choose-content .content p {
	color: #888;
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	margin-bottom: 0;
	margin-top: 10px;
}

.why-choose-thumb img {
	border-radius: 5px;
	box-shadow: 0px 10px 30px 0px rgba(201, 201, 201, 0.48);
}

.why-choose-area .why-choose-thumb .play a span {
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}

/* End */
